<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Skillo/MavenTestNgDemo">
        <classes>
            <class name="org.rume.login.LoginPageTests">
                <methods>
                    <include name="loginPageTitleIsDisplayed"/>
                    <include name="loginWithValidCredentials"/>
                    <include name="loginWithInvalidCredentials"/>
                    <include name="checkLoginButtonLabelText"/>
                    <include name="rememberMeCheckboxFunctionality"/>
                    <include name="verifyUsernameFieldPlaceholderText"/>
                </methods>
            </class>
            <class name="org.rume.page.PageTests">
                <methods>
                    <include name="verifyUserCanCreatePost"/>
                    <include name="verifyUserCanDeletePost"/>
                </methods>
            </class>
            <class name="org.rume.register.RegisterTests">
                <methods>
                    <include name="verifyUserCanRegisterWithValidCredentials"/>
                    <include name="verifyUserCannotRegisterWithoutFilledUserNameField"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>